[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
python-dotenv = "==1.0.0"
notion-client = "==2.0.0"
pygithub = "==1.59.1"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
